* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #143642;
    color: white;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-size: 1rem;
    
}

header h2 {
    color: #ff2400;
}

header a {
    color: #dad2d8;
    text-decoration: none;
}

header a:hover {
    cursor: pointer;
    text-decoration: underline;
}

                /* seção principal */

.gallery-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-content { 
    width: 500px;
    text-align: center;
    margin: 30px 0px;
}

.gallery-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.gallery-content p {
    color: #eae3e8;
}

.gallery-image-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
    list-style-type: none;
}

.gallery-image-container li {
    width: 300px;
    height: 212px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in;
}

.gallery-image-container li:hover {
    transform: scale(1.7);
}

/*.div-image {
    width: 300px;
    height: 212px;
}

.div-image img {
    width: 100%;
    height: 100%;
}*/


            /*adicionando imagens*/

#image01 {
    background: url("https://images.pexels.com/photos/17776656/pexels-photo-17776656/free-photo-of-rua-via-construcao-predio.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image01:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image02 {
    background: url("https://images.pexels.com/photos/17940005/pexels-photo-17940005/free-photo-of-cidade-meio-urbano-noite-rua.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image02:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image03 {
    background: url("https://images.pexels.com/photos/2187308/pexels-photo-2187308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image03:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image04 {
    background: url("https://images.pexels.com/photos/2187661/pexels-photo-2187661.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image04:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image05 {
    background: url("https://images.pexels.com/photos/1829980/pexels-photo-1829980.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image05:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image06 {
    background: url("https://images.pexels.com/photos/1440476/pexels-photo-1440476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image06:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image07 {
    background: url("https://images.pexels.com/photos/402028/pexels-photo-402028.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image07:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image08 {
    background: url("https://images.pexels.com/photos/161401/fushimi-inari-taisha-shrine-kyoto-japan-temple-161401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image08:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image09 {
    background: url("https://images.pexels.com/photos/2067057/pexels-photo-2067057.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image09:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image10 {
    background: url("https://images.pexels.com/photos/161923/osaka-castle-japan-five-osaka-161923.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image10:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image11 {
    background: url("https://images.pexels.com/photos/208321/pexels-photo-208321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image11:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

#image12 {
    background: url("https://images.pexels.com/photos/14894269/pexels-photo-14894269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: 50% 50%;
    background-size: 600px 424px;
}

#image12:hover {
    background-position: 0 0;
    background-size: 300px 212px;
}

